body {
  /* prevent unwanted scrolling */
  margin: 0;
  height: 100vh;
  /* overflow: hidden; */
  max-height: -webkit-fill-available;
  -webkit-touch-callout: none !important;
}

* {
  overscroll-behavior: contain;
}

.flex-1 {
  /* this makes flex behave more intuitively */
  min-width: 0;
}

html {
  height: -webkit-fill-available;
}
body > #root {
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
